div {font-family: sans-serif; background-color:#f7b166; border:4px solid #c80a71; padding-top:15px; padding-left:25px; padding-bottom:20px;padding-right:15px;}
h1 {font-family: 'Sansita', sans-serif; color:#c80a71;}
h2 {font-family: 'Sansita', sans-serif;color:#068c65;}